body {
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: auto;
}
#head-msg{
    color: cornsilk;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5vw;
}

.opaque-container{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;
    margin: 30px auto;
    padding: 30px;
}

.thumbnail {
    padding: 10px;
}
.opaque-container img{
    width: 100%;
}
.form-group label {
    color: white;
}
.form-group p {
    color: red;
}
