<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body th:background="@{/img/background.jpeg}">

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Bookcrossing</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>
                <li class="active"><a th:href="@{/share}">Share a book</a></li>
                <li><a th:href="@{/books}">Find a book</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="opaque-container">
        <h1 id="head-msg">Share a book</h1>
    </div>
    <div class="opaque-container">awdawd</div>
</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
